@{
    ViewData["Title"] = "Home Page";
}

<h1>TODO:</h1>
<ul>
    <li>Add recipe function</li>
    <li>Delete recipe function</li>
    <li>Clear shopping cart</li>
    <li>Deploy to render webhosting</li>
    <li>Add randomize ulam and generate groceries</li>
</ul>